<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jhona.boaviagem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".BoaViagemActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".DashboardActivity">

        </activity>
        <activity android:name=".NovaViagemActivity"
            android:theme="@style/AppThemeComTitulo"
            android:label="@string/nova_viagem">

        </activity>
        <activity android:name=".GastoActivity">

        </activity>
        <activity android:name=".ViagemListActivity"
            android:theme="@style/AppThemeComTitulo"
            android:label="Minhas Viagens">

        </activity>
        <activity android:name=".GastoListActivity"></activity>

    </application>

</manifest>
